html, body {
    height: 100%;
    margin: 0;
    font-family: "linotype-sabon", sans-serif;
    color: #C0C0C0 black #333333 ;
    line-height: 1.6;
}

body {
    background: #EDEDED /*#001F3F*/;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    color: #555555 ;
}

p {
    margin-bottom: 20px;
}

.card, .card-r p{
    color: black;
}

footer {
    padding: 10px;
    background-color: #2C3E50 ;
    color: #fff;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:5%;
}

.card {
    background-color: #fff ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    width:45%;
    display: inline-block;
}

.card-r {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    width:45%;
    float: right;
}

.topnav {
    background-color: #2C3E50 ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 20px;
}

.topnav a:hover {
    color: #006666;
    background-color: #ddd;
}

.nav-links { /* Style for the new container */
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust this value for spacing between links if needed */
}

#logo {
    float: left;
    max-width: 50px;
    height: auto;
    padding: 10px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child):not(.icon) {
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive a {
        float: none;
        display: block;
    }
    .topnav.responsive a:not(.icon) {
        float: none;
        display: block;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .topnav.responsive #logo {
        display: none;
    }
    .card, .card-r{
        width: 90%;
        float:none;
        margin-bottom: 10px;
    }
    .main-content{
        text-align: center;
    }
}

.projects{
    background-color: /*rgba(19, 49, 84, 0.5)*/ #2C3E50;
    padding:3%; 
    border-radius: 50px;
}

.light-header{
    color:white;
}

.about{
    margin-bottom: 5%;
}