html, body {
    height: 100%;
    margin: 0;
    font-family: "linotype-sabon", sans-serif;
    color: #C0C0C0;
    line-height: 1.6;
}

body {
    background: #EDEDED /*#001F3F*/;
}

h1 {
    font-size: 4.5rem;
    color: #333A3F;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

h2, h3, h4 {
    color: #555555 ;
}

p {
    margin-bottom: 20px;
}

.description{
    color: #333A3F;
    font-size: 1.3rem;
}

.card, .card-r p{
    color: black;
}

footer {
    padding: 10px;
    background-color: #2C3E50 ;
    color: #fff;
    text-align: center;
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding:5%;
    padding-bottom: 0;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 40px; 
    padding: 20px;
}
.card {
    background-color: #fff;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: calc(30% - 60px); /* Adjust width as needed, accounting for the gap */   
    text-align: center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    height: 150px; /* Adjust height as needed to ensure cards are of equal height */
    box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.courses .card{
    background-color: #2C3E50;
}

.courses h3{
    color: #fff;
}


.topnav {
    background-color: #EDEDED ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    font-size: 1.02rem;
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 20px;
}

.topnav a:hover {
    color: #173654;
    text-decoration: underline #2C3E50;
}

.nav-links { /* Style for the new container */
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust this value for spacing between links if needed */
}

#logo {
    float: left;
    max-width: 50px;
    height: auto;
    padding: 10px;
    border-radius: 25%;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child):not(.icon) {
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive a {
        float: none;
        display: block;
    }
    .topnav.responsive a:not(.icon) {
        float: none;
        display: block;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .topnav.responsive #logo {
        display: none;
    }
    .card, .card-r{
        width: 90%;
        float:none;
        margin-bottom: 10px;
    }
    .main-content{
        text-align: center;
    }
}

.projects{
    background-color: /*rgba(19, 49, 84, 0.5)*/ #2C3E50;
    padding:3%;
}

.courses{
    background-color: inherit;
    padding:3%;
}

.light-header{
    color:white;
}
.dark-header{
    color:#333A3F;
}

.about{
    height: 100vh;
}

.link-button{
    display: inline-block;
    width: 4%;
    background-color: #2C3E50;
    padding:1.5%;
    color:white;
    text-decoration: none;
    border-radius: 7%;
    font-size: 1.1rem;
    text-align: center;
    margin-right:10px;
}
