html, body {
    height: 100%;
    margin: 0;
    font-family: "linotype-sabon", sans-serif;
    color: #C0C0C0;
    line-height: 1.6;
}

body {
    background: #EDEDED;
}

h1 {
    font-size: 4.5rem;
    color: #333A3F;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

h2, h3, h4 {
    color: #555555;
}

p {
    margin-bottom: 20px;
}

.description {
    color: #333A3F;
    font-size: 1.3rem;
}

footer {
    padding: 10px;
    background-color: #0b283c/*#2C3E50*/;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: -10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    padding-bottom: 0;
}

/* General card section */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.projects .card {
    background-color: #EDEDED;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: calc(40% - 60px);
    margin: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.projects .card:hover {
    transform: translateY(-10px);
}

.projects h3.dark-header {
    color: #555555;
}

/* Specific styles for the "courses" section cards calc(40% - 60px)*/
.courses .card {
    background-color: #2C3E50;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    width: calc(40% - 60px); /* Fixed width to keep consistent look */
    text-align: center;
    color: #fff;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.courses .card:hover {
    transform: translateY(-20px);
}

/* Thumbnail Image */
.courses .thumb {
    height: 300px; /* Thumbnail height */
    background-color: #333; /* Replace with actual image */
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* Slide-up effect for the content */
.courses .infos {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #012b42d0;
    transform: translateY(100%); /* Start content hidden below the card */
    transition: transform 0.4s ease; /* Smooth slide-up */
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.courses .card:hover .infos {
    transform: translateY(0); /* Slide content into view on hover */
}

/* Title that stays static */
.courses .infos h2.title {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #fff;
}

/* Additional details */
.courses .infos h3 {
    margin: 10px 0;
    font-size: 1rem;
    color: #bbb;
}

/* Styling for view details link */
.courses .infos h3.details a {
    color: #007BFF;
    font-size: 1rem;
    text-decoration: none;
}

.courses .infos h3.details a:hover {
    text-decoration: underline;
}

.topnav {
    background-color: #EDEDED;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    font-size: 1.02rem;
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 20px;
}

.topnav a:hover {
    color: #173654;
    text-decoration: underline #2C3E50;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    float: left;
    max-width: 50px;
    height: auto;
    padding: 10px;
    border-radius: 25%;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child):not(.icon) {
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive a {
        float: none;
        display: block;
    }
    .topnav.responsive a:not(.icon) {
        float: none;
        display: block;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .topnav.responsive #logo {
        display: none;
    }
    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    .main-content {
        text-align: center;
    }
}

.projects {
    background-color: #0b283c;
    padding: 3%;
}

.courses {
    background-color: inherit;
    padding: 3%;
}

.light-header {
    color: white;
}

.dark-header {
    color: #333A3F;
}

.about{
    height: 100vh;
}

.link-button {
    display: inline-block;
    width: auto; /* Let the button's width adapt to the text content */
    background-color: #0b283c;
    padding: 0.8em 1.5em; /* Use em units for relative padding */
    color: white;
    text-decoration: none;
    border-radius: 0.5em; /* Consistent border radius */
    font-size: 1.1rem;
    text-align: center;
    margin-right: 1em; /* Use em for consistent spacing */
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

/* Mobile specific adjustments */
@media (max-width: 768px) {
    .link-button {
        font-size: 1rem; /* Slightly smaller font size for mobile */
        margin-right: 0.5em; /* Adjust margin for smaller screens */
    }
}

.project-image {
    width: 100%;
}

.project-section {
    padding: 1vh 3vw;
}

#headshot {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 250px;
}

#headshot-text {
    overflow: hidden;
}

.contact {
    background-color: #EDEDED;
}

.contact h1, .contact h2 {
    color: #333A3F;
}

.contact p.description {
    color: #555;
    font-size: 1.2rem;
}

.contact-details ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.contact-details li {
    font-size: 1.1rem;
    margin: 10px 0;
}

.contact-details h2 {
    text-align: left;
}

.contact-details a {
    color: #007BFF;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Contact Form */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Card Layout */


.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.project-card:hover .project-image {
    transform: scale(1.05);
}

/* Project Titles and Descriptions */
.project-card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #333;
}

.project-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

/* Technology Badges */
.technologies {
    margin-top: 10px;
}

.technologies i {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #007BFF;
}

.technologies i:hover {
    color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}

.projects-page h2{
    color: white;
    width: 100%;
}
.project-description {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

#resume {
    width: 100%;
    padding: 20px 0; /* Optional padding for spacing */
    text-align: center; /* Centers the h2 text */
}

.responsive-pdf {
    display: flex;
    justify-content: center; /* Centers the iframe horizontally */
    align-items: flex-start; /* Keeps the iframe aligned at the top, not centered vertically */
    width: 100%;
    height: auto;
    margin: 0 auto; /* Centers the div itself */
}

.responsive-pdf iframe {
    width: 70%; /* Adjust to your preferred width */
    height: 90vh; /* Full height of the viewport */
    border: none;
    margin: 0; /* Ensure no extra margins are applied */
}

/* Responsive handling for smaller screens */
@media (max-width: 768px) {
    .responsive-pdf iframe {
        width: 95%; /* More space on smaller screens */
        height: 80vh; /* Adjust height for smaller screens */
    }
}

#formheader{
    margin:0;
}